MONGO_URI=YOUR_MONGO_URI_HERE
PORT=YOUR_PORT_HERE

// JWT credentials //
JWT_ACCESS_SECRET=your_super_secret_access_key_min_32_chars
JWT_REFRESH_SECRET=your_super_secret_refresh_key_min_32_chars
JWT_ACCESS_EXPIRY=15m
JWT_REFRESH_EXPIRY=7d

NODE_ENV=development  // or production, depending on your environment


// For Google OAuth, you need to set up below credentials
GOOGLE_CLIENT_ID=your_client_id
GOOGLE_CLIENT_SECRET=your_client_secret
GOOGLE_REDIRECT_URI=your_redirect_uri (e.g., http://localhost:8000/auth/google/callback)
CLIENT_URL=your_client_url (e.g., http://localhost:3000)


// TURN credentials - for WebRTC  (can use metered.ca free-tier credentials)
TURN_USERNAME=paste_from_metered_dashboard
TURN_CREDENTIAL=paste_from_metered_dashboard    // credential = password in this case


// Cloudinary credentials - for image upload
CLOUDINARY_CLOUD_NAME=your_cloud_name_here
CLOUDINARY_API_KEY=your_api_key_here
CLOUDINARY_API_SECRET=your_api_secret_here